@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5c9ead;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #939393;
}
